html {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color : #01a2a6;
}
header {
	background-color: black;
	border-bottom : 2px solid #01a2a6;
}
h1 {
	text-align : center;
}
h4 {
	text-align : right;
	padding : 1em;
}

h2 {
	color : #01a2a6;
	padding : 1em;
}
i {
	padding : 0.3em;
}

article {
	padding : 0.5em;
}
.author {
	font-size : 0.8em;
}
.commentaire {
	display : flex;
	flex-direction: column;
	text-align : center;
}
fieldset {
	width : 50%;
	margin : 0 auto;
	display : flex;
	flex-direction: column;
}
fieldset button {
	margin : 0 auto;
	width : 150px;
}
.commentaires {
	width : 50%;
	background-color: silver;
}
.newArticle {
	margin : 2em auto;
}
.newArticle label, textarea {
	width : 100%;
}

.newArticle select {
	margin : 0 auto;
	width : 200px;
}